<% provide(:title, "About us") %>
<%= render "layouts/navigation" %>
<%= render "layouts/slide" %>
<section class="main-content">
  <div class="navbar-wrapper">
    <div class="navbar" id="navigation">
        <div class="navbar-inner">
            <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse" > 
                  <ul class="nav">
                    <li><a style="color:red;" href="#community">ABBO Community</a></li>
                    <li><a style="color:red;" href="#organization">ABBO Organization</a></li>
                    <li><a style="color:red;" href="#award">Award</a></li>
                    <li><a style="color:red;" href="#gallery">Gallery</a></li>
                  </ul>
            </div>
        </div>
    </div>
  </div>
  <section id="community">
    <div class="container">
      <div class="row">
          <div class="span12 centered">
            <h2>ABBO Community</h2>
            <div class="breaker"><span class="left"></span><div class="feather"></div><span class="right"></span>
            </div>
          </div>
          <div id="community-content">
            <p>ABBO founded by senior specialists & consultants in architecture, engineering, management, investment and other sciences who have multi-nationalities and worked all over the world from the US to EU, Middle East and Asia. It offers turn-key international standard investment consultancy, engineering and project management services to discriminating Clients wishing to invest in Vietnam. Our mission is to meet professional expectations with our advantages in our people, our experience and expertise, and our commitment to doing what we say we do, and do it well.</p>
            
            <p>ABBO has successfully provided quality services, offered outstanding values with high satisfaction of international Clients from Germany, US, Japan, Korea, Singapore, Indonesia, Kuwait, Cyprus, etc... Each member of our organization recognizes that the livehood and success should be a result of sustained customer satisfaction.</p>

            <p>We believe that our expertise in international cultures, codes and practices when combined with our local knowledge and insights enables us to deliver the required level of success expected by our Clients. Our Clients' business success is fundamentally important to us. Partnering our Client's business enterprise synergizes our own professional  performance with our Clients' business interests. Whenever we help our Clients to succeed, we have more than reasonable chance to be successful ourselves.</p>

            <p>Just let us know, in reasonably quantifiable terms, what you wish your project to realistically deliver;we are more than confident to be able to achieve in excess of such expectations".</p>
          </div>
      </div>
    </div>
  </section>

     
  <section id="organization">
    <div class="container">
      <div class="row">
        <div class="span12 centered">
          <h2>ABBO Organization</h2>
          <div class="breaker"><span class="left"></span><div class="feather"></div><span class="right"></span>
        </div>
        <%= image_tag "team/organization_chart.png", alt: "ABBO Design Services" %>
      </div>
    </div>
  </section>

<section id="award">
    <div class="container">
      <div class="row">
          <div class="span12 centered">
            <h2>Award</h2>
            <div class="breaker"><span class="left"></span><div class="feather"></div><span class="right"></span>
            </div>
          </div>
          <div id="community-content">
            <p>ABBO founded by senior specialists & consultants in architecture, engineering, management, investment and other sciences who have multi-nationalities and worked all over the world from the US to EU, Middle East and Asia. It offers turn-key international standard investment consultancy, engineering and project management services to discriminating Clients wishing to invest in Vietnam. Our mission is to meet professional expectations with our advantages in our people, our experience and expertise, and our commitment to doing what we say we do, and do it well.</p>
            
            <p>ABBO has successfully provided quality services, offered outstanding values with high satisfaction of international Clients from Germany, US, Japan, Korea, Singapore, Indonesia, Kuwait, Cyprus, etc... Each member of our organization recognizes that the livehood and success should be a result of sustained customer satisfaction.</p>

            <p>We believe that our expertise in international cultures, codes and practices when combined with our local knowledge and insights enables us to deliver the required level of success expected by our Clients. Our Clients' business success is fundamentally important to us. Partnering our Client's business enterprise synergizes our own professional  performance with our Clients' business interests. Whenever we help our Clients to succeed, we have more than reasonable chance to be successful ourselves.</p>

            <p>Just let us know, in reasonably quantifiable terms, what you wish your project to realistically deliver;we are more than confident to be able to achieve in excess of such expectations".</p>
          </div>
      </div>
    </div>
  </section>


<script> 

$(function() {
   $('ul.nav a, #down_button a').click(function(e) {
    $('html,body').scrollTo(this.hash, this.hash);
     e.preventDefault();
    });
});
</script>











 


