<% provide(:title, "About") %>
<%= render "layouts/navigation" %>
<%= render "layouts/slide" %>
<section class="main-content">
<div class="container">
  <div class="row">
    <div class="span12">
    	<h1>About ABBO Community</h1>
    	<div class="row">
    		<div class="span8">
  				<p>ABBO founded by senior specialists & consultants in architecture, engineering, management, investment and other sciences who have multi-nationalities and worked all over the world from the US to EU, Middle East and Asia. It offers turn-key international standard investment consultancy, engineering and project management services to discriminating Clients wishing to invest in Vietnam. Our mission is to meet professional expectations with our advantages in our people, our experience and expertise, and our commitment to doing what we say we do, and do it well.</p>
  				<p>ABBO has successfully provided quality services, offered outstanding values with high satisfaction of international Clients from Germany, US, Japan, Korea, Singapore, Indonesia, Kuwait, Cyprus, etc... Each member of our organization recognizes that the livehood and success should be a result of sustained customer satisfaction.</p>
  				<p>We believe that our expertise in international cultures, codes and practices when combined with our local knowledge and insights enables us to deliver the required level of success expected by our Clients. Our Clients' business success is fundamentally important to us. Partnering our Client's business enterprise synergizes our own professional  performance with our Clients' business interests. Whenever we help our Clients to succeed, we have more than reasonable chance to be successful ourselves.</p>
  				<p>Just let us know, in reasonably quantifiable terms, what you wish your project to realistically deliver;we are more than confident to be able to achieve in excess of such expectations".</p>
    		</div>
    		<div class="span4">
    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione velit reiciendis sit eveniet nisi ipsa saepe sapiente exercitationem nulla commodi nostrum cum repellendus doloribus vero voluptas minima cupiditate reprehenderit praesentium.</p>
    		</div>
    	</div>
    </div>
  </div>
</section>
















 


