<% provide(:title, "Design") %>
<%= render "layouts/navigation" %>
<%= render "layouts/slide" %>
<section class="main-content">
<div class="container">
  <div class="row">
    <div class="span12">
    	<h1>ABBO Design Services</h1>
    	<div class="row">
    		<div class="span8">
  				<p>ABBO offers an integrated, sustainable approach to architectural design, structural engineering and M.E.P enginerring. A project team employ a systematic process to building design which creates a unified experience between interior and exterior environments. Each design is a unique response to the program and site.</p>
    		</div>
    		<div class="span4">
    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione velit reiciendis sit eveniet nisi ipsa saepe sapiente exercitationem nulla commodi nostrum cum repellendus doloribus vero voluptas minima cupiditate reprehenderit praesentium.</p>
    		</div>
    	</div>
    </div>
  </div>
</section>