<% provide(:title, "Management") %>
<%= render "layouts/navigation" %>
<section id="slide-carousel">
  <div class="row centered">
    <div id="myCarousel" class="carousel slide">
      <!-- Craousel Items -->
      <div class="carousel-inner">
        <div class="active item">
            <%= image_tag "subpages-slide/management.jpg", alt: "ABBO Design Services" %>
            <div class="carousel-caption">
              <h4>ABBO Management Service</h4>
              <p>ABBO offers an integrated, sustainable approach to architectural design, structural engineering and M.E.P enginerring.</p>
            </div>
        </div>
    </div>   
  </div>
</section>
<section class="main-content">
<div class="container">
  <div class="row">
    <div class="span12">
    	<h1>ABBO Management</h1>
    	<div class="row">
    		<div class="span8">
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt blanditiis molestias doloribus totam et assumenda delectus vel laboriosam ex fuga dolorem eligendi quos esse tenetur officiis incidunt quisquam pariatur illo.</p>

  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt blanditiis molestias doloribus totam et assumenda delectus vel laboriosam ex fuga dolorem eligendi quos esse tenetur officiis incidunt quisquam pariatur illo.</p>

  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt blanditiis molestias doloribus totam et assumenda delectus vel laboriosam ex fuga dolorem eligendi quos esse tenetur officiis incidunt quisquam pariatur illo.</p>

  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt blanditiis molestias doloribus totam et assumenda delectus vel laboriosam ex fuga dolorem eligendi quos esse tenetur officiis incidunt quisquam pariatur illo.</p>

  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt blanditiis molestias doloribus totam et assumenda delectus vel laboriosam ex fuga dolorem eligendi quos esse tenetur officiis incidunt quisquam pariatur illo.</p>

  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt blanditiis molestias doloribus totam et assumenda delectus vel laboriosam ex fuga dolorem eligendi quos esse tenetur officiis incidunt quisquam pariatur illo.</p>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt blanditiis molestias doloribus totam et assumenda delectus vel laboriosam ex fuga dolorem eligendi quos esse tenetur officiis incidunt quisquam pariatur illo.</p>
    		</div>
    		<div class="span4">
    			<%= render "layouts/side_projects" %>
    		</div>
    	</div>
    </div>
  </div>
</section>