<% provide(:title, "ABBO Project Management") %>
<%= render "layouts/navigation" %>
<section id="slide-carousel">
  <div class="row centered">
    <div id="myCarousel" class="carousel slide">
      <!-- Craousel Items -->
      <div class="carousel-inner">
        <div class="active item">
            <%= image_tag "subpages-slide/management.jpg", alt: "ABBO Design Services" %>
            <div class="carousel-caption">
              <h4>ABBO Project Management Service</h4>
                <p>Project management from ABBO – comprehensive supervision, inspection and commissioning services for every phase of your construction project.</p>
            </div>
        </div>
    </div>   
  </div>
</section>
<section class="main-content">
<div class="container">
  <div class="row">
    <div class="span12">
    	<h1>ABBO Project Management</h1>
    	<div class="row">
    		<div class="span8">
  				<h5>Project management from ABBO – comprehensive supervision, inspection and commissioning services for every phase of your construction project.</h5>

          <p>Whether you are an owner, contractor or investor, you need to deal with a range of requirements during every phase of your construction project. Our project management services provide you with comprehensive supervision, inspection and commissioning services for all types of projects – no matter the size or location.</p>

          <p>As a Vietnam leader in project management, we offer you extensive experience in all aspects of construction. As a result, we can help you reduce technical risks, prevent construction errors, control budgets and effectively keep your construction project within the planned schedule. Plus, we can help you meet all applicable requirements, whether they are regulatory, voluntary or client based.</p>

          <p>With our unique global reach, we provide public institutions, private investors, real estate owners, insurers and construction companies with trusted project management all over Vietnam.</p>

          <p>To discuss how our project management services can enable you to comply with all relevant regulations and standards, <a href="/#contact">contact us</a> today.</p>
      </div>
    		<div class="span4">
    			<%= render "layouts/side_projects" %>
    		</div>
    	</div>
    </div>
  </div>
</section>