<footer>
    <!-- SOCIAL MODULE  --> 
    <section id="social_module">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul>
                        <li><a href=# target=_blank><i class="icon icon-facebook"></i></a></li>
                        <li><a href=# target=_blank><i class="icon icon-linkedin"></i></a></li>
                        <li><a href=# target=_blank><i class="icon icon-twitter"></i></a></li>
                        <li><a href=# target=_blank><i class="icon icon-pinterest"></i></a></li>
                        <li><a href=# target=_blank><i class="icon icon-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- END SOCIAL MODULE  -->

    <!-- COPYRIGHT  -->
    <div class="container">
        <div class="row">
            <div class="span6 center">
                <%= image_tag "logo_footer.png", alt: "ABBO logo" %>
            </div>
            <div class="span6">
                <p class="copyright text-right center">
                    <a href="#">Home</a> | <a href="#">About</a> | <a href="#">Privacy Policy</a>
                </p>
                <p class="copyright text-right center">&copy; 2013 ABBO COMMUNITY </p>
            </div>
        </div>
    </div>
</footer>

