<div class="span4">
  <% @random_projects.each do |project| %>
    <% if project.pictures.first.present? %>
     <%= link_to image_tag(project.pictures.first.image.thumb.url, :alt => project.name, class: "thumbnail"),show_project_path(project) %>
      <p style="text-align: center;"><%= project.name %></p>
    <% end %>
  <% end %>
</div>