<section id="slide-carousel">
	<div class="row centered">
		<div id="myCarousel" class="carousel slide">
			<!-- Craousel Items -->
      <div class="carousel-inner">
        <div class="active item">
            <%= image_tag "subpages-slide/1a.jpg", alt: "Client logo 1" %>
            <div class="carousel-caption">
              <h4>About ABBO Community</h4>
              <p>ABBO founded by senior specialists & consultants in architecture, engineering, management, investment and other sciences who have multi-nationalities and worked all over the world from the US to EU, Middle East and Asia</p>
            </div>
        </div>
        
      </div>
      <!-- Carousel nav -->
    </div>   
	</div>
</section>
